server {
    listen 80;
    server_name 10.192.168.5;

    access_log /var/log/nginx/test_pk_access.log;
    error_log /var/log/nginx/test_pk_error.log;

    client_max_body_size 7M;

    location / {
        proxy_pass http://10.192.168.15:3001;
    }


}